.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: white;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0 ,.0625);
}

.flex-dashboard header a {
    text-decoration: none;
    color: #72777a;
}

.flex-dashboard header svg {
    color: #6e8efb;
}

.flex-dashboard .fa-bars {
    font-size: 22px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .flex-dashboard header a {
        display: flex;
        margin: 20%;
    }

    .flex-dashboard header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 100%;
        background-color: white;
        /* padding: 10px 30px; */
        z-index: 2;
        border: 1px solid rgba(0, 0, 0 ,.0625);
    }
}