#fa-solid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #511aaf;
    width: 80px;
    height: 80px;
    
}

#fa-solid:hover {
    border: none;
    color: #511aafaf;
    transform: scale(1.05);
    transition: .2s;
    
}