<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
</head>
<body>
    <div class="flex-dashboard">
    <sidebar id="sidebar">
        <div class="sidebar-title">
            <img src="../images/ninja.png" alt="">
            <h2>Garage Control</h2>
            <h3>Dashboard</h3>
        </div>
        <div class="menu">
            <ul>
            <li class="selected">
                <i class="fa-solid fa-house-chimney"></i>
                <a href="/views/dashboard.html"> Dashboard</a>
            </li>
            <li>
                <i class="fa-solid fa-user"></i>
                <a href="/views/perfil.html"> Perfil</a>
            </li>
            <li>
                <i class="fa-solid fa-users"></i>
                <a href="/views/gerenciarPessoas.html"> Pessoas</a>
            </li>
            <li>
                <i class="fa-solid fa-car-side"></i>
                <a href="/views/gerenciarVeiculos.html"> Veículos</a>
            </li>
            <li>
                <i class="fa-solid fa-car"></i>
                <a href="/views/gerenciarGaragem.html">Garagem</a>
            </li>
            <li>
                <i class="fa-solid fa-microchip"></i>
                <a href="/views/gerenciarProdutos.html">Produtos</a>
            </li>
            <li>
                <i class="fa-solid fa-hands-holding-circle"></i>
                <a href="/views/gerenciarServicos.html">Serviços</a>
            </li>
            <li>
                <i class="fa-solid fa-print"></i>
                <a href="/views/gerenciarRelatorios.html">Relatórios</a>
            </li>
            <!-- <li>
                <i class="fa-solid fa-gears"></i>
                <a href="/views/manutencao.html">Manutenção</a>
            </li> -->
            <li class="sidebar-logout">
                <i class="fas fa-sign-out-alt"></i>
                <a href="/login.html">Logout</a>
            </li>
            </ul>
        </div>
        <br><br><br><br>
        <div class="register-title">
            <img src="" id="fotoPerfil" alt="Foto Perfil" width="10" height="10" class="rounded-circle"> 
        
            <p id="nomePerfil" style="color:rgb(43, 144, 226)"></p>               
        </div>
    </sidebar>
    <main id="mainContent">
        <header>

            <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
            
            <a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>

        </header>
        <div class="main-content">
            <div class="main-content-title">
                <h2>DASHBOARD</h2>
            </div>
            <div class="dashboard-content">  
                <div class="dashboard-flex-parent">
                    <div class="dashboard-box">
                        <div class="dashboard-box-wrapper">
                        <div id="title-div box-01" class="box-icon box box-01">
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <div class="value">Box 01</div>
                        <div id="title-text box-01" class="type">Disponível</div>

                        <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                    data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-01')">Consultar Box</button>
                        </div>
                    </div>
                    <div class="dashboard-box">
                        <div class="dashboard-box-wrapper">
                            <div id="title-div box-02" class="box-icon box box-01">
                                <i class="fa-solid fa-car"></i>
                            </div>
                            <div class="value">Box 02</div>
                            <div id="title-text box-02" class="type">Disponível</div>

                            <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                    data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-02')">Consultar Box</button>
                        </div>
                    </div>
                    <div class="dashboard-box">
                        <div class="dashboard-box-wrapper">
                            <div id="title-div box-03" class="box-icon box box-01">
                                <i class="fa-solid fa-car"></i>
                            </div>
                            <div class="value">Box 03</div>
                            <div id="title-text box-03" class="type">Disponível</div>

                            <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                    data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-03')">Consultar Box</button>
                        </div>
                    </div>
                    <div class="dashboard-box">
                        <div class="dashboard-box-wrapper">
                            <div id="title-div box-04" class="box-icon box box-01">
                                <i class="fa-solid fa-car"></i>
                            </div>
                            <div class="value">Box 04</div>
                            <div id="title-text box-04" class="type">Disponível</div>

                            <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                    data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-04')">Consultar Box</button>
                        </div>
                    </div>
                </div>

                <div class="dashboard-content">  
                    <div class="dashboard-flex-parent">
                        <div class="dashboard-box">
                            <div class="dashboard-box-wrapper">
                            <div id="title-div box-05" class="box-icon box box-01">
                                <i class="fa-solid fa-car"></i>
                            </div>
                            <div class="value">Box 05</div>
                            <div id="title-text box-05" class="type">Disponível</div>
    
                            <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                        data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-05')">Consultar Box</button>
                            </div>
                        </div>
                        <div class="dashboard-box">
                            <div class="dashboard-box-wrapper">
                                <div id="title-div box-06" class="box-icon box box-01">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <div class="value">Box 06</div>
                                <div id="title-text box-06" class="type">Disponível</div>
    
                                <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                        data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-06')">Consultar Box</button>
                            </div>
                        </div>
                        <div class="dashboard-box">
                            <div class="dashboard-box-wrapper">
                                <div id="title-div box-07" class="box-icon box box-01">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <div class="value">Box 07</div>
                                <div id="title-text box-07" class="type">Disponível</div>
    
                                <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                        data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-07')">Consultar Box</button>
                            </div>
                        </div>
                        <div class="dashboard-box">
                            <div class="dashboard-box-wrapper">
                                <div id="title-div box-08" class="box-icon box box-01">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <div class="value">Box 08</div>
                                <div id="title-text box-08" class="type">Disponível</div>
    
                                <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                        data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-08')">Consultar Box</button>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-content">  
                        <div class="dashboard-flex-parent">
                            <div class="dashboard-box">
                                <div class="dashboard-box-wrapper">
                                <div id="title-div box-09" class="box-icon box box-01">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <div class="value">Box 09</div>
                                <div id="title-text box-09" class="type">Disponível</div>
        
                                <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                            data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-09')">Consultar Box</button>
                                </div>
                            </div>
                            <div class="dashboard-box">
                                <div class="dashboard-box-wrapper">
                                    <div id="title-div box-10" class="box-icon box box-01">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                    <div class="value">Box 10</div>
                                    <div id="title-text box-10" class="type">Disponível</div>
        
                                    <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                            data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-10')">Consultar Box</button>
                                </div>
                            </div>
                            <div class="dashboard-box">
                                <div class="dashboard-box-wrapper">
                                    <div id="title-div box-11" class="box-icon box box-01">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                    <div class="value">Box 11</div>
                                    <div id="title-text box-11" class="type">Disponível</div>
        
                                    <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                            data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-11')">Consultar Box</button>
                                </div>
                            </div>
                            <div class="dashboard-box">
                                <div class="dashboard-box-wrapper">
                                    <div id="title-div box-12" class="box-icon box box-01">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                    <div class="value">Box 12</div>
                                    <div id="title-text box-12" class="type">Disponível</div>
        
                                    <button type="button" class="btn btn-secondary"  data-bs-toggle="modal"  
                                            data-bs-target="#modalDashboard" onclick="pesquisarGaragem('box-12')">Consultar Box</button>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    <div class="modal fade" id="modalDashboard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Consultar Box</h5>
                <button form="form-box" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="get" id="form-box" class="form-box">
                        <div class="box-modal">

                        </div>
                       
              
                </div>       
            </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
                </div>
            </div>
            </div>
    </main>
    </div>
       
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/plugins/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
    <script src="/plugins/package/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/fontawesome/js/all.min.js"></script>

    <script src="../js/menu.js"></script>
    <script src="../js/dashboard.js"></script>

    <script>

    

    </script>
</body>
</html>