<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../plugins/sweetalert/dist/sweetalert2.min.css">
    <title>Gerenciar Garagem</title>
</head>
<body>
       <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../images/ninja.png" alt="">
                <h2>Garage Control</h2>
                <h3>Gerenciar Garagem</h3>
            </div>
           <div class="menu">
            <ul>
                <li>
                    <i class="fa-solid fa-house-chimney"></i>
                    <a href="/views/dashboard.html"> Dashboard</a>
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <a href="/views/perfil.html"> Perfil</a>
                </li>
                <li>
                    <i class="fa-solid fa-users"></i>
                    <a href="/views/gerenciarPessoas.html"> Pessoas</a>
                </li>
                <li>
                    <i class="fa-solid fa-car-side"></i>
                    <a href="/views/gerenciarVeiculos.html"> Veículos</a>
                </li>
                <li class="selected">
                    <i class="fa-solid fa-car"></i>
                    <a href="/views/gerenciarGaragem.html">Garagem</a>
                </li>
                <li>
                    <i class="fa-solid fa-microchip"></i>
                    <a href="/views/gerenciarProdutos.html">Produtos</a>
                </li>
                <li>
                    <i class="fa-solid fa-hands-holding-circle"></i>
                    <a href="/views/gerenciarServicos.html">Serviços</a>
                </li>
                <li>
                    <i class="fa-solid fa-print"></i>
                    <a href="/views/gerenciarRelatorios.html">Relatórios</a>
                </li>
                <!-- <li>
                    <i class="fa-solid fa-gears"></i>
                    <a href="/views/manutencao.html">Manutenção</a>
                </li> -->
                <li class="sidebar-logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <a href="/index.html">Logout</a>
                </li>
              </ul>
           </div>
           <br><br><br><br>
           <div class="register-title">
               <img src="" id="fotoPerfil" alt="Foto Perfil" width="10" height="10" class="rounded-circle"> 
           
               <p id="nomePerfil" style="color:blueviolet"></p>               
           </div>
        </sidebar>
        <main>
            <header>
                <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
                <a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Gerenciar Garagem</h2>
                </div>
                
                <!-- <div class="panel-row">
                    <button id="btn-cadastrar" class="panel panel-50">Cadastrar Produto</button>  
                    <button id="btn-listar" class="panel panel-50" onclick="buscarProduto()"> Listar Produtos</button>      
                </div> -->
        <br/>
           
                   
                <!-- aaaaaaaaaaaaaaaaaaaa  Tabela principal de pessoas   aaaaaaaaaaaaaaaaaaaaaaaa -->

                <div style="height: 300px;overflow: scroll;">
					<table class="table table-hover table-striped" id="tabelaprincipalGar">
						<thead>
							<tr>
                                <th scope="col">ID</th>
								<th scope="col">Box</th>
                                <th scope="col">Placa</th>
								<th scope="col">Carro</th>
                                <th scope="col">Cor</th>
                                <th scope="col">Proprietário</th>
                                <th scope="col">Defeito</th>
                                <th scope="col">Mecânico</th>
								
								<!-- <th scope="col">Editar</th> -->
								<th scope="col">Delete</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
               
                <!-- ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg -->
                                      
                    <div class="row">
                    
                        <!-- <div class="shadow-sm p-3 mb-3 bg-body rounded"></div> -->
                        
                        <div id="preencheBoxes" class="row preencheBoxes">
                            <h4>Boxes: </h4>
                            <div id="title-div box-01" onclick="pesquisarBox('box-01')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-01</div>
                            <div id="title-div box-02" onclick="pesquisarBox('box-02')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-02</div>
                            <div id="title-div box-03" onclick="pesquisarBox('box-03')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-03</div>
                            <div id="title-div box-04" onclick="pesquisarBox('box-04')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-04</div>
                            <div id="title-div box-05" onclick="pesquisarBox('box-05')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-05</div>
                            <div id="title-div box-06" onclick="pesquisarBox('box-06')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-06</div>
                            <div id="title-div box-07" onclick="pesquisarBox('box-07')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-07</div>
                            <div id="title-div box-08" onclick="pesquisarBox('box-08')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-08</div>
                            <div id="title-div box-09" onclick="pesquisarBox('box-09')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-09</div>
                            <div id="title-div box-10" onclick="pesquisarBox('box-10')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-10</div>
                            <div id="title-div box-11" onclick="pesquisarBox('box-11')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-11</div>
                            <div id="title-div box-12" onclick="pesquisarBox('box-12')" style="cursor: pointer" class="box-icons box box-01"><i class="fa-solid fa-car"></i>box-12</div>
                        </div>
                        
                    
                    
                <!-- bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb -->
        
             <div class="row">
                <div action="" id="formCadastroGaragem" class="formCadastroGaragem">
                    
                    <div class="row row-col-6">
                      <div class="col-1">
                          <label for="id" class="form-label">ID</label>
                          <input type="text" class="form-control" id="id" readonly="readonly">
                      </div>
                      
                      <div class="col-3">
                          <label for="numeroBox" class="form-label">Número Box</label>
                          <input type="text" class="form-control" id="numeroBox" readonly="readonly" placeholder="" required="required">
                      </div>

                    
                      <div class="col-2">
                          <label for="placaCar" class="form-label">Placa Carro</label>
                          <input type="text" class="form-control" id="placaCar" readonly="readonly" placeholder="" required="required">
                      </div>
                              
                      <div class="col-3">
                          <label for="descricao" class="form-label">Carro</label>
                          <input type="text" class="form-control" id="descricao" readonly="readonly" placeholder="" required="required">
                      </div>
 
                       <div class="col-2">
                            <label for="corVeiculo" class="form-label">Cor</label>
                            <input type="text" class="form-control" id="corVeiculo" readonly="readonly" placeholder="" required="required">                   
                        </div> 
                    </div>
                    <div class="row row-col-6">
                        <div class="col-3">
                            <label for="nomeResp" class="form-label">Responsável</label>
                            <input type="text" class="form-control" id="nomeResp" readonly="readonly" placeholder="" required="required">                   
                        </div>
                    
                        <div class="col-3">
                            <label for="defeitoCar" class="form-label">Defeito</label>
                            <input type="text" class="form-control" id="defeitoCar" placeholder="" required="required">                   
                        </div>
                         <div class="col-3">
                                <label for="mecanicoCar" class="form-label">Mecânico</label>
                                <input type="text" class="form-control" id="mecanicoCar" placeholder="" required="required">                   
                         </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-auto">
                            <button type="button" class="btn btn-info"  data-bs-toggle="modal"  data-bs-target="#modalPesquisarCarro">Buscar Carro</button>
                        </div>
                        <div class="col-md-auto">
                            <button type="button" onblur="apagaFormGaragem()" class="btn btn-success" onclick="salvarCarroNaGaragem()">Colocar no Box</button>
                        </div>
                        <div class="col-md-auto">
                            <button type="button" class="btn btn-secondary" onclick="apagaFormGaragem();">Recomeçar</button>
                        </div>
                        <!-- <div class="col-md-auto">
                            <button type="button" class="btn btn-warning" onclick="botaoDeletarDaTela();">Deletar</button>
                        </div> -->
                    </div> 
                </form>
            </div>
            
                <!-- hhhhhhhhhhhhhh    Modal Pesquisar   hhhhhhhhhhhhhhh -->

                <div class="modal fade" id="modalPesquisarGaragem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Pesquisa de Garagem</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                              <label for="nameBusca" class="col-form-label">Informe o box:</label>
                              <input type="text" class="form-control" id="nameBusca" placeholder="nome ou parte do nome">
                            </div>
                            <button type="button" class="btn btn-success" onclick="pesquisarGaragem()">Buscar</button>
                          </form>
                  
                                  <div style="height: 200px;overflow: scroll;">
                                      <table class="table" id="tabelaresultadosGar">
                                          <thead>
                                              <tr>
                                                  <th scope="col">ID</th>
                                                  <th scope="col">Número Box</th>
                                                  <th scope="col">Placa Carro</th>
                                                  
                                                  <th scope="col">Editar</th>
                                                  <th scope="col">Delete</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          </tbody>
                                      </table>
                                    </div>
                                  </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                  </div>
    <!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
     <!-- hhhhhhhhhhhhhh    Modal busca Carro   hhhhhhhhhhhhhhh -->

     <div class="modal fade" id="modalPesquisarCarro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Pesquisa de Carro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="placaCarro" class="col-form-label">Informe a placa:</label>
                  <input type="text" class="form-control" id="placaCarro" placeholder="placa ou parte dela">
                </div>
                
                <button type="button" class="btn btn-success" onclick="new pesquisarCarro();">Buscar Placa</button>
                
              </form>
                      <div style="height: 300px;overflow: scroll;">
                          <table class="table" id="tabelaresultadosCarro">
                              <thead>
                                  <tr>
                                      <th scope="col">ID</th>
                                      <th scope="col">Descrição</th>
                                      <th scope="col">Placa Carro</th>
                                      
                                      <th scope="col">Editar</th>
                                      <th scope="col">Delete</th>
                                  </tr>
                              </thead>
                              <tbody>
                              </tbody>
                          </table>
                        </div>
                      </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
                </div>
            </div>
        </main>
       </div>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../plugins/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
    <script src="../plugins/sweetalert/dist/sweetalert2.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>

    <script src="../js/menu.js"></script>
    <script src="../js/listaGaragem.js"></script>
    
</body>
</html>