<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../plugins/sweetalert/dist/sweetalert2.min.css">
    <title>Gerenciar Garagem</title>
</head>
<body onload="buscarGaragem()">
       <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../images/ninja.png" alt="">
                <h2>Garage Control</h2>
                <h3>Gerenciar Garagem</h3>
            </div>
           <div class="menu">
            <ul>
                <li>
                    <i class="fa-solid fa-house-chimney"></i>
                    <a href="/views/dashboard.html"> Dashboard</a>
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <a href="/views/perfil.html"> Perfil</a>
                </li>
                <li>
                    <i class="fa-solid fa-users"></i>
                    <a href="/views/gerenciarPessoas.html"> Pessoas</a>
                </li>
                <li>
                    <i class="fa-solid fa-car-side"></i>
                    <a href="/views/gerenciarVeiculos.html"> Veículos</a>
                </li>
                <li>
                    <i class="fa-solid fa-car"></i>
                    <a href="/views/gerenciarGaragem.html">Garagem</a>
                </li>
                <li>
                    <i class="fa-solid fa-microchip"></i>
                    <a href="/views/gerenciarProdutos.html">Produtos</a>
                </li>
                <li>
                    <i class="fa-solid fa-microchip"></i>
                    <a href="/views/gerenciarServicos.html">Serviços</a>
                </li>
                <li>
                    <i class="fa-solid fa-print"></i>
                    <a href="/views/gerenciarRelatorios.html">Relatórios</a>
                </li>
                <li class="selected">
                    <i class="fa-solid fa-gears"></i>
                    <a href="/views/manutencao.html">Manutenção</a>
                </li>
                <li class="sidebar-logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <a href="/index.html">Logout</a>
                </li>
              </ul>
           </div>
        </sidebar>
        <main>
            <header>
                <a href="/views/dashboard.html"><i class="fa-solid fa-house-chimney"></i> Dashboard</a>
                <a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Manutenção da Garagem</h2>
                </div>
                
                <div class="register register-title">
                    <img src="../images/carro1.jpg" alt=""><br>
                    <h2 class="ordem"><i class="fa-solid fa-user-nurse"></i> Ordem de Serviço</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-auto">
                                <label for="id" class="form-label">Id OS</label>
                                <input type="text" class="form-control" id="id" placeholder="" disabled> 
                            </div>
<!-- 
                            <div class="col-sm">
                                <label for="nome" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nome" placeholder="Nome completo">
                               
                            </div> -->
                        <div class="col-sm">
                            <label for="pessoa"
                            class="form-label">Proprietário</label>
                            <select class="form-control"
                                id="pessoa" nome="pessoa">
                                <option value="">-- Escolha --</option>
                            </select>
                        </div>
                        </div>
                            <div class="col-md-auto"> <!-- TABLE -->

                                <!-- <div style="height: 340px;overflow: scroll;">
                                    <table class="table table-hover table-striped"
                                        id="tabelaprincipal">
                                        <thead>
                                            <tr>
                                                <th scope="col">Descrição</th>
                                                <th scope="col">Quantidade</th>
                                                <th scope="col">Total</th>
    
                                                <th scope="col">Editar</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div> -->
                             
                            </div>
                        <div class="row">
                        
            
                            <div class="col-sm">
                                <label for="comp" class="form-label">Complemento</label>
                                <input type="text" class="form-control" id="comp" placeholder="Complemento do Endereço">
                                
                                
                            </div>
            
                            <div class="col-sm">
                                <label for="cidade" class="form-label">Cidade</label>
                                <input type="text" class="form-control" id="cidade" placeholder="Nome da Cidade">
                                
                                
                            </div>
                        </div>
                          <div class="container">
                            <button type="submit" class="btn btn-success">Salvar Orçamento</button>
                            <button type="submit" class="btn btn-secondary">Limpar</button>
                            <!-- <br> <br>
                            <a href="/index.html">Voltar</a> -->
                          </div>
                    </form>
                    
                </div>  



    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../plugins/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
    <script src="../plugins/sweetalert/dist/sweetalert2.all.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>

    <script src="../js/menu.js"></script>
    <script src="../js/manutencao.js"></script>
    
</body>
</html>