<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
</head>
<body>
       <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../images/ninja.png" alt="">
                <h2>Garage Control</h2>
                <h3>Pessoas</h3>
            </div>
           <div class="menu">
            <ul>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <a href="/views/perfil.html"> Perfil</a>
                </li>
                <li>
                    <i class="fa-solid fa-users"></i>
                    <a href="/views/gerenciarPessoas.html"> Pessoas</a>
                </li>
                <li>
                    <i class="fa-solid fa-car-side"></i>
                    <a href="/views/gerenciarProdutos.html"> Produtos</a>
                </li>
                <li>
                    <i class="fa-solid fa-car"></i>
                    <a href="/views/gerenciarGaragem.html">Garagem</a>
                </li>
                <li>
                    <i class="fa-solid fa-print"></i>
                    <a href="/views/relatorios.html">Relatórios</a>
                </li>
                <li>
                    <i class="fa-solid fa-gears"></i>
                    <a href="/views/configuracoes.html">Configurações</a>
                </li>
              </ul>
           </div>
        </sidebar>
        <main>
            <header>
                <a href="/views/dashboard.html"><i class="fa-solid fa-house-chimney"></i> Dashboard</a>
                <a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </header>
            <div class="main-content">
                <div class="panel-row">
                    <button class="panel panel-50" a-view="cadastrarPessoa" a-folder="">Cadastrar Pessoa</button>
                    <button class="panel panel-50" a-view="listarPessoa" a-folder="">Listar Pessoas</button>
                </div>
                <div class="content" id="ajax-content">

                </div>
            </div>
        </main>
       </div>
       <script src="../plugins/jquery/jquery.min.js"></script>
       <script src="../plugins/jquery-validation/jquery-validation-1.19.5/dist/jquery.validate.min.js"></script>
       <script src="../plugins/jquery-validation/jquery-validation-1.19.5/dist/additional-methods.min.js"></script>
       <script src="../plugins/jquery-validation/jquery-validation-1.19.5/dist/localization/messages_pt_BR.min.js"></script>
       <script src="../plugins/package/dist/sweetalert2.all.min.js"></script>
       <script src="../plugins/jquery/jquery.min.js"></script>
       <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
       <script src="../plugins/fontawesome/js/all.min.js"></script>
       <script src="../js/ajax.js"></script>
       <script src="../js/menu.js"></script>
</body>
</html>