<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/termos.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
</head>
<body>
    <div id="up" class="container">
        <div class="">
            <a href="/login.html"><i id="fa-solid" class="fa-solid fa-circle-left"></i></a>
        <div class="register-title">
            <i id="politica" class="fa-solid fa-handshake"></i>
            <h2>Política de Privacidade Garage Control</h2>
           
        </div>
        
    <div class="">
    
                <p>
                    <strong>INFORMAÇÕES GERAIS E DEFINIÇÕES</strong>
                </p>
                
<p>
    A GARAGE CONTROL SYSTEM valoriza a privacidade de seus utilizadores e criou esta Política de Privacidade para demonstrar o seu compromisso em proteger a privacidade e  os dados pessoais dos titulares de dados. Para efeitos da legislação aplicável em matéria de proteção de dados (Lei n. º 58/ 2019, de 08 de Agosto, Lei da Proteção de Dados Pessoais), que assegura a execução, na ordem jurídica nacional, do Regulamento (UE) 2016/679 do Parlamento e do Conselho, de 27 de abril de 2016.

    A GARAGE CONTROL SYSTEM está constantemente empenhada em garantir que a sua privacidade é garantida.
</p>
<p>
    <strong>RECOLHA DOS DADOS PESSOAIS</strong>
</p>

<p>
    <strong> seus dados pessoais podem ser recolhidos nas seguintes circunstâncias:</strong>

    <p>Resposta ao pedido de contacto;</p>
    <p>Gestão comercial;</p>
    <p>Manutenção do registo interno;</p>
    <p>Compra online;</p>
    <p>Envio de newsletters e outras ações promocionais. Os clientes podem cancelar a sua subscrição ao serviço de newsletter por e-mail, clicando no link da newsletter que enviamos por e-mail;</p>
    <p>O tratamento seja necessário para celebrar, ou tomar medidas para celebrar um contrato consigo;</p>
    <p>O tratamento seja necessário para cumprir um requisito imperativo ou legal que nos é aplicável;</p>
    <p>O tratamento seja necessário para realizar ou cumprir um interesse legítimo nosso, de uma nossa afiliada ou de outros terceiros (como parceiros de negócios existentes ou potenciais, fornecedores, clientes, clientes finais, órgãos governamentais ou tribunais).</p>
</p>
<p>
    <strong>DADOS PESSOAIS QUE RECOLHEMOS</strong>
</p>

<p>
    s dados pessoais recolhidos são os estritamente necessários para cumprir com o imposto legalmente ou o exigido pela atividade desenvolvida.

    Neste contexto, os dados que recolhemos para prestar os nossos serviços, podem incluir os seguintes:
    
    Dados de identificação (nome, morada, data de nascimento, e-amil, NIF, nº do CC, gênero);
    Dados de faturação e despesas;
    Caso preencha o formulário de solicitação de newsletter no Website será pedido o seu email. Pode a qualquer momento cancelar a subscrição das newsletters.
</p>
<p>
    <strong>FINALIDADE, TRATAMENTO E TRANSMISSÃO DOS DADOS PESSOAIS</strong>
</p>
<p>

    <p> I. A GARAGE CONTROL SYSTEM não disponibilizará os seus Dados Pessoais recolhidos  para  listas de e-mail sem o seu consentimento.

        <p>II. A GARAGE CONTROL SYSTEM poderá divulgar os Dados Pessoais coletados a terceiros, nas seguintes situações e nos limites exigidos e autorizados pela Lei:
    
    Com os seus clientes e parceiros quando necessário e/ou apropriado à prestação de serviços relacionados;
    Com as empresas e indivíduos contratados para a execução de determinadas atividades e serviços em nome da GARAGE CONTROL SYSTEM;
     
    
    <p>III. Com empresas do grupo;
    
     
    Com fornecedores e parceiros para consecução dos serviços contratados com a GARAGE CONTROL SYSTEM (como tecnologia da informação, contabilidade, entre outros);
     
    
    Para propósitos administrativos como: pesquisa, planejamento, desenvolvimento de serviços, segurança e gestão de risco.
     
    
    Cumprimento de obrigações legais;
    <p>VII. Adequação dos serviços às necessidades e interesses dos nossos clientes;</p>
    
    <p>VIII. Gestão administrativa dos processos dos nossos clientes, que podem incluir: identificação, conservação, adaptação, recuperação, integração das nossas bases de dados, consulta para gestão interna, estatísticas e histórico.</p>
    
    Cumprimento de obrigações legais;
    Processamento de faturas dos produtos comercializados e serviços prestados, assim como, gestão contabilística;</p>
    Prestação dos serviços ou informações solicitadas;
    <p>XII. Gestão da relação contratual e sua execução, cumprindo com as disposições legais obrigatórias e a partilha com as entidades legais impostas;</p>
    
    <p>XIII. Para envio de ações promocionais ou ofertas, no caso de ter dado consentimento;</p>
    
    <p>XIV. Para otimização da navegabilidade do nosso website.
    
    Havendo a hipótese de partilha dos Dados Pessoais com terceiros, todos os sujeitos mencionados nos itens I a VI estão sujeitos contratualmente aos mesmos termos e condições de tratamento de dados pessoais como a GARAGE CONTROL SYSTEM, estando proibidos de utilizar, transferir, divulgar ou registar, para qualquer outra finalidade que não aquela que foi especificamente contratualizada ou sem o seu consentimento.
    
    Terceiros podem inserir cookies nos navegadores dos usuários para análise ou usar beacons da Web de modo a coletar informações como resultado da veiculação de anúncios no seu site.
    
    Como o Google usa os dados quando você utiliza apps ou sites dos nossos parceiros.
</p>
<p>
    <strong>SEGURANÇA DOS DADOS PESSOAIS</strong>
</p>
<p>
    Todas os Dados Pessoais serão guardados na base de dados da GARAGE CONTROL SYSTEM ou numa base de dados mantidas “na nuvem” pelos fornecedores de serviços contratados pela GARAGE CONTROL SYSTEM, que estão devidamente de acordo com a legislação em vigor.

    A GARAGE CONTROL SYSTEM e os seus fornecedores utilizam vários procedimentos de segurança para proteger a confidencialidade, segurança e integridade  dos Dados Pessoais, prevenindo a ocorrência de eventuais danos em virtude do tratamento desses dados.
    
    Embora a GARAGE CONTROL SYSTEM utilize medidas de segurança e monitorize o seu sistema para verificar vulnerabilidades e ataques para proteger os Dados Pessoais contra divulgação não autorizada, mau uso ou alteração, o Titular dos Dados entende e concorda que não há garantias de que as informações não poderão ser acedidas, divulgadas, alteradas ou destruídas através de uma violação de qualquer uma das proteções físicas, técnicas ou administrativas.
    
    Por favor, esteja ciente de que, embora nos empenhemos em fornecer a segurança dos Dados que processamos e mantemos, nenhum sistema de segurança pode evitar todas os possíveis data breaches.</p>
<p>
    <strong>CONSERVAÇÃO DOS DADOS</strong>
</p>

<p>
    A GARAGE CONTROL SYSTEM mantém todos os os dados pessoais, enquanto o o registo do utilizador estiver ativo e conforme seja necessário para execução dos seus serviços.

    A GARAGE CONTROL SYSTEM conserva os dados pessoais apenas durante o período estritamente necessário para dar continuidade à finalidade para a qual estes foram recolhidos, excetuando os que a lei obriga, sempre de acordo com a legislação em vigor.
    
    O período pelo qual os dados são conservados e armazenados é determinado pela finalidade para a qual a informação é tratada, podendo desta forma variar. Não havendo um período estabelecido pela lei, os dados são conservados durante o período necessário à finalidade que levaram à recolha, findo o qual os mesmos serão destruídos ou anonimizados.
    
    A GARAGE CONTROL SYSTEM poderá vir a manter os Dados Pessoais após receber o pedido de de apagamento, caso seja necessário para cumprimento de obrigações legais, resolver disputas, manter a segurança, evitar fraudes e abuso e garantir o cumprimento de contratos.
</p>
<p>
    <strong>DIREITO DOS TITULARES DE DADOS</strong>
</p>


<p>
    A GARAGE CONTROL SYSTEM apenas trata Dados Pessoais nas situações em que está autorizada legalmente ou mediante o  expresso e inequívoco consentimento do Titular dos Dados.

    Nos termos previstos no Regulamento Geral de Proteção de Dados e legislação nacional em vigor, a GARAGE CONTROL SYSTEM garante a aplicabilidade e cumprimentos de todos os direitos do titular dos dados pessoais, nomeadamente:
    
    <p>Direito de acesso;</p>
    <p>Direito de apagamento (esquecimento).</p>
    <p>Direito à retificação;</p>
    <p>Direito a oposição continua do tratamento dos seus dados pessoais;</p>
    <p>Direito a atualização;</p>
    <p>Direito a portabilidade;</p>
    <p>Direito à limitação do tratamento;</p>
    <p>Direito de não sujeição a decisões automatizadas.</p>
    <p>Conforme descrito na presente Política, a GARAGE CONTROL SYSTEM tem bases legais para recolher, produzir, rececionar, classificar, utilizar, aceder, reproduzir, transmitir, distribuir, processar, arquivar, armazenar, eliminar, avaliar ou controlar a informação, modificar, comunicar, transferir, difundir ou extrair dados do Titular dos Dados.
    
    Caso tenha dúvidas ou queira exercer o seu pedido,  entre em contato com a GARAGE CONTROL SYSTEM através do seu Data Protection Officer  para o  e-mail dataprivacy@markadapaz.com
</p>
<p>
    <strong>REVISÃO DA POLÍTICA DE PRIVACIDADE</strong>
</p>
<p>
    A GARAGE CONTROL SYSTEM reserva-se o direito de modificar esta Política de Privacidade, a todo o momento, sem aviso prévio e com efeitos imediatos, acrescentar ou revogar, parcial ou totalmente.  Tais alterações serão publicadas de forma visível no site da GARAGE CONTROL SYSTEM. Esta Política é válida a partir de 25/06/2020.
</p>
<p>
    <strong>QUESTÕES E SUGESTÕES</strong>
</p>

Caso o titular dos dados tenha qualquer questão a respeito da política de privacidade, por favor, entre em contato com a GARAGE CONTROL SYSTEM, através do e-mail <strong>sac@garagecontrol.com.br</strong>. A GARAGE CONTROL SYSTEM nomeou o sócio Lúcio Hermano Batista como Data Protection Officer (“DPO”).</p>
 
<!-- </div> -->
            </div>
                <br> <br>
                <a href="/login.html"><i id="fa-solid" class="fa-solid fa-circle-left"></i></a>
              
        </div>
    </div>  
    <div class="container">
    <a href="#up"><i id="fa-solid" class="fa-solid fa-circle-up"></i></a>
</div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>    
    
</body>
</html>