<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
</head>
<body>
    <div class="register-parent">
        <div class="register">
            <div class="register-title">
                <img src="../images/clienteIcon.png" alt="">
                <h2>Registro de Pessoas</h2>
            </div>
            <form>
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="nome" placeholder="Nome completo">
                  <label for="nome" class="form-label">Nome</label>
                  
                </div>

                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="cpf" placeholder="CPF válido">
                    <label for="cpf" class="form-label">CPF</label>
                    
                </div>

                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="rg" placeholder="RG válido">
                    <label for="rg" class="form-label">RG</label>
                    
                </div>

                <div class="form-floating mb-1">
                    
                    <select class="form-control" id="genero">
                        <option> - Escolha - </option>
                        <option>MASCULINO</option>
                        <option>FEMININO</option>
                    </select>
                    <label for="genero">Gênero</label>
                </div>

                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="cep" placeholder="CEP válido">
                    <label for="cep" class="form-floating">CEP</label>
                    
                </div>

                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="rua" placeholder="Nome da Rua">
                    <label for="rua" class="form-floating">Rua</label>
                    
                </div>

                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="numero" placeholder="Número do imóvel">
                    <label for="numero" class="form-label">Número</label>
                    
                </div>

                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="bairro" placeholder="Nome do Bairro">
                    <label for="bairro" class="form-label">Bairro</label>
                    
                </div>

                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="comp" placeholder="Complemento do Endereço">
                    <label for="comp" class="form-label">Complemento</label>
                    
                </div>

                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="cidade" placeholder="Nome da Cidade">
                    <label for="cidade" class="form-label">Cidade</label>
                    
                </div>

                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="uf" placeholder="Unidade da Federação">
                    <label for="uf" class="form-label">Estado</label>
                    
                </div>

                <div class="form-floating mb-1">
                    <input type="email" class="form-control" id="email" placeholder="E-mail válido">
                    <label for="email" class="form-label">Email</label>
                    
                </div>
              
                <button type="submit" class="btn">Cadastrar</button>
                <br> <br>
                <a href="/index.html">Voltar</a>
              </form>
        </div>
    </div>  
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/jquery-validation/jquery-validation-1.19.5/dist/jquery.validate.min.js"></script>
    <script src="../plugins/jquery-validation/jquery-validation-1.19.5/dist/additional-methods.min.js"></script>
    <script src="../plugins/jquery-validation/jquery-validation-1.19.5/dist/localization/messages_pt_BR.min.js"></script>
    <script src="../plugins/package/dist/sweetalert2.all.min.js"></script>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/menu.js"></script>
</body>
</html>