<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/termos.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
</head>
<body>
    <div class="register-parent">
        <div class="register">
            <div class="register-title">
                <img id="politica" src="../images/clienteIcon.png" alt="">
                <h1>Recuperação de senha</h1>
            </div>
            <br>
            <div class="register-title">
                <h2>Informe o seu e-mail para verificação no nosso sistema!</h2>
                <br>
                <strong>Você receberá uma mensagem no seu e-mail para a mudança da senha.</strong>
            </div>
            <br>
            <form>
                

                <div class="form-floating mb-8">
                    <input type="email" class="form-control" id="email" placeholder="E-mail válido">
                    <label for="email" class="form-label">Email</label>
                    
                </div>
                <div class="container-md">
                <button type="submit" class="btn">Cadastrar</button>
                </div>
                <br> <br>
                <a href="/login.html"><i id="fa-solid" class="fa-solid fa-circle-left"></i></a>
              </form>
        </div>
    </div>  
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/package/dist/sweetalert2.all.min.js"></script>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script src="../js/termos.js"></script>
    <script src="../js/menu.js"></script>
</body>
</html>